@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local("system-ui"), local(".SFNSText-Light"), local("Segoe UI"), local("Roboto"), local("Oxygen-Sans"), local("Ubuntu"), local("Cantarell"), local("Helvetica Neue");
}

:root {
  --palette-white: #f7f5f0;
  --palette-black: #111111;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--palette-white);
  color: var(--palette-black);
  font-family: "system", sans-serif;
}

body {
  line-height: 1.6;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

hr {
  margin: 1rem 0;
  height: 0;
  display: block;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--palette-black);
}

img {
  max-width: 100%;
}

a {
  color: var(--palette-dark);
  text-decoration: none;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: currentColor;

  transition: border-bottom-width .15s;
}

a:hover,
a:focus {
  text-decoration: none;
  border-bottom-width: 5px;
  outline: 0;
}

ol,
ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin-bottom: 0;
}

li {
  margin: 0;
}

article,
section {
  margin-bottom: 1rem;
}

h1 {
  margin: 0 0 1rem;
  font-weight: normal;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4,
h5,
h6 {
  font-size: 1.2rem;
}

p {
  margin: 0 0 1rem;
}

.a11y-skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

.a11y-skip:active,
.a11y-skip:focus,
.a11y-skip:hover {
  left: 1rem;
  top: 1rem;
  width: auto;
  height: auto;
  padding: .5rem;
  overflow: visible;
  outline: 0;
  background-color: var(--palette-white);
  border: .5rem solid var(--palette-black);
}



.chroma { color: #f8f8f2; background-color: #272822 }
.chroma .err { color: #960050; background-color: #1e0010 }
.chroma .lntd { ; vertical-align: top; padding: 0; margin: 0; border: 0; }
.chroma .lntable { ; border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block; }
.chroma .hl { background-color: #ffffcc; display: block; width: 100% }
.chroma .lnt { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block; }
.chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
.chroma .k { color: #66d9ef }
.chroma .kc { color: #66d9ef }
.chroma .kd { color: #66d9ef }
.chroma .kn { color: #f92672 }
.chroma .kp { color: #66d9ef }
.chroma .kr { color: #66d9ef }
.chroma .kt { color: #66d9ef }
.chroma .na { color: #a6e22e }
.chroma .nc { color: #a6e22e }
.chroma .no { color: #66d9ef }
.chroma .nd { color: #a6e22e }
.chroma .ne { color: #a6e22e }
.chroma .nf { color: #a6e22e }
.chroma .nx { color: #a6e22e }
.chroma .nt { color: #f92672 }
.chroma .l { color: #ae81ff }
.chroma .ld { color: #e6db74 }
.chroma .s { color: #e6db74 }
.chroma .sa { color: #e6db74 }
.chroma .sb { color: #e6db74 }
.chroma .sc { color: #e6db74 }
.chroma .dl { color: #e6db74 }
.chroma .sd { color: #e6db74 }
.chroma .s2 { color: #e6db74 }
.chroma .se { color: #ae81ff }
.chroma .sh { color: #e6db74 }
.chroma .si { color: #e6db74 }
.chroma .sx { color: #e6db74 }
.chroma .sr { color: #e6db74 }
.chroma .s1 { color: #e6db74 }
.chroma .ss { color: #e6db74 }
.chroma .m { color: #ae81ff }
.chroma .mb { color: #ae81ff }
.chroma .mf { color: #ae81ff }
.chroma .mh { color: #ae81ff }
.chroma .mi { color: #ae81ff }
.chroma .il { color: #ae81ff }
.chroma .mo { color: #ae81ff }
.chroma .o { color: #f92672 }
.chroma .ow { color: #f92672 }
.chroma .c { color: #75715e }
.chroma .ch { color: #75715e }
.chroma .cm { color: #75715e }
.chroma .c1 { color: #75715e }
.chroma .cs { color: #75715e }
.chroma .cp { color: #75715e }
.chroma .cpf { color: #75715e }
.chroma .gd { color: #f92672 }
.chroma .ge { font-style: italic }
.chroma .gi { color: #a6e22e }
.chroma .gs { font-weight: bold }
.chroma .gu { color: #75715e }
