{{ partial "header.html" . }}

<main class="site-content">

  <header class="site-header">
    {{ if isset .Site.Params "logo" -}}
    <img class="logo" src="{{ index .Site.Params "logo" }}" alt="">
    {{- end }}
    <h1>{{ .Site.Title }}</h1>
  </header>

  {{ range (where .Data.Pages "Type" "post").GroupByDate "2006" -}}
  <section>
    <h2>{{ .Key }}</h2>

    <ol class="posts-list">
      {{ range .Pages -}}
      <li>
        <time datetime="{{ (.Date.Format "2006-01-02 15:04:05 MST") | safeHTML }}">{{ .Date.Format "Jan 02" }}</time>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{- end }}
    </ol>
  </section>
  {{ end }}

</main>

{{ partial "footer.html" . }}
